/* -- Header #557-- **/

body {
    background-color: #557;
}

header {
	margin-top: 1px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	border-bottom: 1px solid var(--font-color);
}

li {
    display: inline;
    margin-top: 10px;
	font-size: 20px;
	color: ;
	font-weight: 500;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10rem;
    margin: 10px;
}

/* -- Start -- **/

#start {
	display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#start #text-presentation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    color: #000;
}

#start #text-presentation h1 {
    font-size: 30px;
}

#start #text-presentation p {
    font-size: 20px;
}

#start #imgstart {
    margin: 40px;
}

/* -- Cadastro -- **/

#cadastro #singIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 40px 0px;
}

#cadastro #singIn input {
    width: 41%;
    height: 25px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

#cadastro #singIn button {
    width: 25%;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #226;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

#cadastro #singIn button:hover {
    background-color: #000;
    color: #fff;
}

/* -- Products -- **/

#products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#products .product-cards {
    width: 25%;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;
    margin: 0px 0px 0px 40px;
    box-shadow: 10px 10px 20px 0px #000;
    background-color: #778;
    padding: 10px;
}

#products .product-cards img {
    width: 30%;
    height: 120px;
    margin-top: 20px;
}

#products .product-cards h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#products .product-cards ul li {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
}

#products .product-cards h3 {
    margin-top: 10px;
    font-size: 25px;
}

#products .product-cards button {
    border-radius: 15px;
    width: 60%;
    height: 100px;
    background-color: #226;
    cursor: pointer;
    margin-bottom: 20px;
    color: #fff;
}

#products .product-cards button:hover {
    background-color: #000;
    color: #fff;
}

/* -- Footer -- **/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
}

footer #newsletter {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer #newsletter h1 {
    text-align: center;
}

footer #newsletter input {
    width: 41%;
    height: 25px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

footer #newsletter button {
    width: 25%;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #226;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

footer #newsletter button:hover {
    background-color: #000;
    color: #fff;
}

.space {
	justify-content: center;
	align-items: center;
    margin: 20px 60px 0px 60px;
}